<div class="panel panel-default">
    <div class="panel-heading">文件下载</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>弹幕文件</th>
                <th>视频文件</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="http://comment.bilibili.com/{{specialInfo.cid }}.xml" target="_blank">下载地址</a>
                </td>
                <td>
                    <a href="{{specialInfo.videoUrl}}" target="_blank">下载地址</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">视频信息</div>
    <h2 style="padding-left: 5px;font-weight: bold">{{videoInfo.title}}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>项</th>
                <th>值</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key,val) in videoInfo">
                <td style="width: 20%;">{{ videoInfoString[key] }}</td>
                <td>{{ val }}</td>
            </tr>
            <tr>
                <td>封面</td>
                <td><a href="{{ specialInfo.pic }}" target="_blank"><img src="{{ specialInfo.pic }}" style="max-width: 50%;"></a></td>
            </tr>
            <tr>
                <td>up主</td>
                <td>
                <a href="http://space.bilibili.com/{{specialInfo.mid}}" target="_blank" class="text-center">
                    <img src="{{specialInfo.face}}" class="img-circle" style="width:50px"><br>
                    <small>{{ specialInfo.author }}</small>
                </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
